.DS_Store
/.metadata
/docs/*/target
/examples/*/bin
/examples/*/target
/features/*/target
/metamodelgen/*/bin
/metamodelgen/*/target
/plugins/*/bin
/plugins/*/target
/plugins/*/xtend-gen
/releng/*/target
/releng/*/product/target
/releng/*/repository/target
/tests/*/bin
/tests/*/target
/tests/*/working-dir
/tools/*/bin