<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.eatop.tableview.accessorfactory">
      <accessorfactory
            class="org.eclipse.eatop.tableview.ui.EObjectAccessorFactory"
            priority="1">
      </accessorfactory>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.eatop.tableview.ui.propertyTabs1">
         <propertyTab
               category="org.eclipse.eatop.tableview.ui.propertyTab1"
               id="org.eclipse.eatop.tableview.ui.propertyTab1"
               label="label">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.ui"
            class="org.eclipse.eatop.tableview.parts.TableView"
            id="org.eclipse.eatop.tableview.ui.tableView"
            name="Table View"
            restorable="true">
      </view>
   </extension>

</plugin>
