<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
   <copyright>
  
  Copyright (c) 2014 itemis and others.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html
  
  Contributors: 
      itemis - Initial API and implementation
  
  </copyright>
-->

<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.eatop.examples.common.ui.category.eatopExampleViews"
            class="org.eclipse.sphinx.emf.explorer.ExtendedCommonNavigator"
            icon="icons/full/obj16/eacont_obj.png"
            id="org.eclipse.eatop.examples.explorer.views.eastadlExplorer"
            name="%examples.explorer.views.eastadlExplorer.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.eclipse.eatop.examples.explorer.views.eastadlExplorer">
      </viewer>
      <viewerActionBinding
            viewerId="org.eclipse.eatop.examples.explorer.views.eastadlExplorer">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.sphinx.emf.*">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.eatop.examples.explorer.actionExtension4">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.eatop.examples.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="org.eclipse.eatop.examples.explorer.views.eastadlExplorer">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.jdt.java.ui.javaContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.jdt.java.ui.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.sphinx.emf.explorer.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.eatop.examples.explorer.navigatorContent.eastadl">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.eatop.workspace.ui.filters.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <dragAssistant
            class="org.eclipse.ui.navigator.resources.ResourceDragAdapterAssistant"
            viewerId="org.eclipse.eatop.examples.explorer.views.eastadlExplorer">
      </dragAssistant>
   </extension>
   
   
    <!-- org.eclipse.ui.navigator.navigatorContent for EATOP/MODEL explorer view-->
    <!--contentProvider="org.eclipse.eatop.examples.explorer.AppearanceExampleExplorerContentProvider"-->
      <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            
            contentProvider="org.eclipse.sphinx.emf.explorer.BasicExplorerContentProvider"
            icon="icons/full/obj16/eacont_obj.png"
            id="org.eclipse.eatop.examples.explorer.navigatorContent.eastadl"
            labelProvider="org.eclipse.eatop.examples.explorer.AppearanceExampleExplorerLabelProvider"
            name="EAST-ADL Content"
            priority="normal">
         <triggerPoints>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
               <test
                     property="org.eclipse.sphinx.emf.isInScope"
                     value="true">
               </test>
               <test
                     property="org.eclipse.sphinx.emf.metaModelIdMatches"
                     value="org\.eclipse\.eatop\.eastadl\d\w">
               </test>
            </and>
         </triggerPoints>
         <possibleChildren>
            <or>
               <and>
                  <instanceof
                        value="org.eclipse.emf.ecore.EObject">
                  </instanceof>
                  <test
                        property="org.eclipse.sphinx.emf.classNameMatches"
                        value="eastadl\d\w\..*">
                  </test>
               </and>
               <and>
                  <instanceof
                        value="org.eclipse.emf.edit.provider.IWrapperItemProvider">
                  </instanceof>
                  <test
                        property="org.eclipse.sphinx.emf.ownerClassNameMatches"
                        value="eastadl\d\w\..*">
                  </test></and>
            </or>
         </possibleChildren>
         <commonWizard
               associatedExtensionId="org.eclipse.eatop.examples.explorer.navigatorContent.eastadl"
               type="new"
               wizardId="org.eclipse.eatop.examples.common.ui.newWizards.eastadlProject">
            <enablement></enablement>
         </commonWizard>
         <commonWizard
               associatedExtensionId="org.eclipse.eatop.examples.explorer.navigatorContent.eastadl"
               type="new"
               wizardId="org.eclipse.eatop.examples.common.ui.newWizards.eastadlFile">
            <enablement>
            <adapt
                         type="org.eclipse.core.resources.IResource">     
                         <or>
                         <test
                              property="org.eclipse.core.resources.projectNature"
                             value="org.safe.workspace.safenature">
                         </test>
                         <test
                               property="org.eclipse.core.resources.projectNature"
                             value="org.eclipse.eatop.workspace.eastadlnature">
                         </test>
                      </or>                                  
                   </adapt>
            </enablement>
         </commonWizard>
         <dropAssistant
               class="org.eclipse.sphinx.emf.explorer.BasicDropAdapterAssistant"
               id="org.eclipse.eatop.examples.explorer.navigatorContent.dropAssistant.eastadl">
            <possibleDropTargets>
               <instanceof
                     value="org.eclipse.emf.ecore.EObject">
               </instanceof></possibleDropTargets>
         </dropAssistant>
         <actionProvider
               class="org.eclipse.eatop.examples.explorer.AppearanceExampleActionProvider"
               id="org.eclipse.eatop.examples.explorer.ExampleAppearanceActionProvider">
         </actionProvider>
         <actionProvider
               class="org.eclipse.eatop.examples.explorer.ModelExampleActionProvider"
               id="org.eclipse.eatop.examples.explorer.ModelExampleActionProvider">
               <enablement>
            <or>
               <instanceof
                     value="org.eclipse.emf.ecore.EObject" />
               <instanceof
                     value="org.eclipse.emf.edit.provider.IWrapperItemProvider" />
               <instanceof
                     value="org.eclipse.sphinx.emf.edit.TransientItemProvider" />
            </or>
         </enablement>
         </actionProvider>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.eatop.examples.explorer.views.eastadlExplorer"
            labelProvider="org.eclipse.eatop.examples.explorer.properties.AppearanceExampleTabbedPropertySheetTitleProvider">
         <propertyCategory
               category="advanced">
         </propertyCategory>
         <propertyCategory
               category="instance refs">
         </propertyCategory>
         <propertyCategory
               category="instance ref prop">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.eatop.examples.explorer.views.eastadlExplorer">
         <propertyTab
               category="advanced"
               id="org.eclipse.eatop.examples.explorer.propertyTabs.advanced"
               label="Advanced">
         </propertyTab>
         <propertyTab
               category="instance refs"
               id="org.eclipse.eatop.examples.explorer.propertyTabs.instancerefs"
               label="Edit Instance Refs">
         </propertyTab>
         <propertyTab
               category="instance ref prop"
               id="org.eclipse.eatop.examples.explorer.propertyTabs.instancerefprop"
               label="Advanced Instance Refs">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.eatop.examples.explorer.views.eastadlExplorer">
         <propertySection
               class="org.eclipse.eatop.examples.explorer.properties.AdvancedPropertySection"
               id="org.eclipse.eatop.examples.explorer.propertySections.advanced"
               tab="org.eclipse.eatop.examples.explorer.propertyTabs.advanced">
            <input
                  type="java.lang.Object">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.eatop.examples.explorer.properties.InstanceRefPropertySection"
               filter="org.eclipse.eatop.examples.explorer.properties.InstanceRefInputFilter"
               id="org.eclipse.eatop.examples.explorer.propertySections.instancerefs"
               tab="org.eclipse.eatop.examples.explorer.propertyTabs.instancerefs">
            <input
                  type="java.lang.Object">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.eatop.examples.explorer.properties.AdvancedInstanceRefPropertySection"
               filter="org.eclipse.eatop.examples.explorer.properties.InstanceRefInputFilter"
               id="org.eclipse.eatop.examples.explorer.propertySections.instancerefprop"
               tab="org.eclipse.eatop.examples.explorer.propertyTabs.instancerefprop">
            <input
                  type="java.lang.Object">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
   		point="org.eclipse.sphinx.emf.ui.propertySourceFilters">
   		<filter
   			class="org.eclipse.eatop.examples.explorer.properties.InstanceRefPropertyFilter">
   		</filter>
   </extension>
   			
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.sphinx.examples.explorer.views.modelExplorer">
         <includes>
            <contentExtension
                  pattern="org.eclipse.eatop.examples.explorer.navigatorContent.eastadl">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="org.eclipse.eatop.examples.explorer.decorators.ModelReferenceDecorator"
            icon="icons/decorators/arrow_ref.png"
            id="org.eclipse.eatop.examples.explorer.referenceDecorator"
            label="EAST_ADL Reference Decorators"
            lightweight="true"
            location="TOP_LEFT"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipse.emf.ecore.EObject">
            </objectClass>
         </enablement>
      </decorator>
   </extension>

</plugin>
