<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            id="org.eclipse.eatop.examples.graphicaleditor.depd.diagramType"
            name="org.eclipse.eatop.examples.graphicaleditor.depd"
            type="org.eclipse.eatop.examples.graphicaleditor.depd">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="org.eclipse.eatop.examples.graphicaleditor.depd.provider.DEPDDiagramTypeProvider"
            description="Dependability Diagram"
            id="org.eclipse.eatop.examples.graphicaleditor.depd.diagramTypeProvider"
            name="org.eclipse.eatop.examples.graphicaleditor.depd">
         <diagramType
               id="org.eclipse.eatop.examples.graphicaleditor.depd.diagramType">
         </diagramType>
         <imageProvider
               id="org.eclipse.eatop.examples.graphicaleditor-depd.imageProvider">
         </imageProvider>
      </diagramTypeProvider>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.imageProviders">
      <imageProvider
            class="org.eclipse.eatop.examples.graphicaleditor.depd.provider.DEPDImageProvider"
            id="org.eclipse.eatop.examples.graphicaleditor-depd.imageProvider">
      </imageProvider>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.eatop.examples.graphicaleditor.depd.PropertyContributor">
         <propertyCategory
               category="Graphiti">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.eatop.examples.graphicaleditor.depd.PropertyContributor">
         <propertyTab
               category="Graphiti"
               id="graphiti.advanced.tab"
               label="Advanced">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.eatop.examples.graphicaleditor.depd.PropertyContributor">
         <propertySection
               class="org.eclipse.eatop.examples.graphicaleditor.depd.features.property.DEPDPropertySection"
               filter="org.eclipse.eatop.examples.graphicaleditor.depd.features.property.DEPDPropertyFilter"
               id="graphiti.advanced.tab.dep"
               tab="graphiti.advanced.tab">
         </propertySection>
         <propertySection
               afterSection="graphiti.advanced.tab.dep"
               class="org.eclipse.eatop.examples.graphicaleditor.depd.features.property.DEPDHazardClassificationPropertySection"
               filter="org.eclipse.eatop.examples.graphicaleditor.depd.features.property.DEPDHazardClassificationPropertyFilter"
               id="graphiti.advanced.tab.depHazardClass"
               tab="graphiti.advanced.tab">
         </propertySection>
         <propertySection
               afterSection="graphiti.advanced.tab.dep"
               class="org.eclipse.eatop.examples.graphicaleditor.depd.features.property.DEPDHazardousEventControllabilityPropertySection"
               filter="org.eclipse.eatop.examples.graphicaleditor.depd.features.property.DEPDHazardousEventControllabilityPropertyFilter"
               id="graphiti.advanced.tab.depHazardousEventControllability"
               tab="graphiti.advanced.tab">
         </propertySection>
         <propertySection
               afterSection="graphiti.advanced.tab.depHazardousEventControllability"
               class="org.eclipse.eatop.examples.graphicaleditor.depd.features.property.DEPDHazardousEventExposurePropertySection"
               filter="org.eclipse.eatop.examples.graphicaleditor.depd.features.property.DEPDHazardousEventExposurePropertyFilter"
               id="graphiti.advanced.tab.depHazardousEventExposure"
               tab="graphiti.advanced.tab">
         </propertySection>
         <propertySection
               afterSection="graphiti.advanced.tab.depHazardousEventExposure"
               class="org.eclipse.eatop.examples.graphicaleditor.depd.features.property.DEPDHazardousEventSeverityPropertySection"
               filter="org.eclipse.eatop.examples.graphicaleditor.depd.features.property.DEPDHazardousEventSeverityPropertyFilter"
               id="graphiti.advanced.tab.depHazardousEventSeverity"
               tab="graphiti.advanced.tab">
         </propertySection>
         <propertySection
               afterSection="graphiti.advanced.tab.depHazardousEventSeverity"
               class="org.eclipse.eatop.examples.graphicaleditor.depd.features.property.DEPDHazardousEventHazardClassificationPropertySection"
               filter="org.eclipse.eatop.examples.graphicaleditor.depd.features.property.DEPDHazardousEventHazardClassificationPropertyFilter"
               id="graphiti.advanced.tab.depHazardousEventHazardClassification"
               tab="graphiti.advanced.tab">
         </propertySection>
      </propertySections>
   </extension>
   

</plugin>
