<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="org.eclipse.eatop.examples.graphicaleditor.dftd.providers.DFTDTypeDiagramProvider"
            id="org.eclipse.eatop.examples.graphicaleditor.dftd.TypeDiagramProvider"
            name="org.eclipse.eatop.examples.graphicaleditor.dftd">
         <diagramType
               id="org.eclipse.eatop.examples.graphicaleditor.dftd.DiagramType">
         </diagramType>
         <imageProvider
               id="org.eclipse.eatop.examples.graphicaleditor.dftd.imageProvider">
         </imageProvider>
      </diagramTypeProvider>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            description="This is a Graphiti Example"
            id="org.eclipse.eatop.examples.graphicaleditor.dftd.DiagramType"
            name="org.eclipse.eatop.examples.graphicaleditor.dftd"
            type="org.eclipse.eatop.examples.graphicaleditor.dftd">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.imageProviders">
      <imageProvider
            class="org.eclipse.eatop.examples.graphicaleditor.dftd.providers.DFTDImageProvider"
            id="org.eclipse.eatop.examples.graphicaleditor.dftd.imageProvider">
      </imageProvider>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.eatop.examples.graphicaleditor.dftd.PropertyContributor">
         <propertyCategory
               category="Graphiti"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.eatop.examples.graphicaleditor.dftd.PropertyContributor">
         <propertyTab
               category="Graphiti"
               id="graphiti.advanced.tab"
               label="Advanced">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.eatop.examples.graphicaleditor.dftd.PropertyContributor">
         <propertySection
               class="org.eclipse.eatop.examples.graphicaleditor.dftd.property.DFTDPropertySection"
               filter="org.eclipse.eatop.examples.graphicaleditor.dftd.property.DFTDPropertyFilter"
               id="graphiti.advanced.tab.dftd"
               tab="graphiti.advanced.tab">
         </propertySection>
         <propertySection
               afterSection="graphiti.advanced.tab.dftd"
               class="org.eclipse.eatop.examples.graphicaleditor.dftd.property.DFTDPropertySectionProtoTypePartOF"
               filter="org.eclipse.eatop.examples.graphicaleditor.dftd.property.DFTDPropertyprototypeFilter"
               id="graphiti.advanced.tab.dftd2"
               tab="graphiti.advanced.tab">
         </propertySection>
      </propertySections>
   </extension>

</plugin>
