<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.eclipse.eatop.connectcreator.createEATopConnection"
            objectClass="org.eclipse.eatop.eastadl21.FunctionPrototype">
         <action
               class="org.eclipse.eatop.connectorcreator.popup.actions.CreateConnectorAction"
               icon="META-INF/icons/portOverviewIcon.png"
               id="org.eclipse.eatop.connectorcreator.FunctionPrototype"
               label="Create connection">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.eclipse.eatop.connectcreator.createErrorModelPrototypeConnection"
            objectClass="org.eclipse.eatop.eastadl21.ErrorModelPrototype">
         <action
               class="org.eclipse.eatop.connectorcreator.popup.actions.CreateConnectorAction"
               icon="META-INF/icons/portOverviewIcon.png"
               id="org.eclipse.eatop.connectorcreator.ErrorModel"
               label="Create connection">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.eclipse.eatop.connectcreator.createHardwareComponentConnection"
            objectClass="org.eclipse.eatop.eastadl21.HardwareComponentPrototype">
         <action
               class="org.eclipse.eatop.connectorcreator.popup.actions.CreateConnectorAction"
               icon="META-INF/icons/portOverviewIcon.png"
               id="org.eclipse.eatop.connectorcreator.Hardware"
               label="Create connection">
         </action>
      </objectContribution>
   </extension>
</plugin>
