<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            id="org.eclipse.eatop.examples.graphicaleditor.depscd.diagramType"
            name="org.eclipse.eatop.examples.graphicaleditor.depscd"
            type="org.eclipse.eatop.examples.graphicaleditor.depscd">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="org.eclipse.eatop.examples.graphicaleditor.depscd.provider.DEPSCDDiagramTypeProvider"
            description="Dependability Safety Case Diagram"
            id="org.eclipse.eatop.examples.graphicaleditor.depscd.diagramTypeProvider"
            name="org.eclipse.eatop.examples.graphicaleditor.depscd">
         <diagramType
               id="org.eclipse.eatop.examples.graphicaleditor.depscd.diagramType">
         </diagramType>
         <imageProvider
               id="org.eclipse.eatop.examples.graphicaleditor.depscd.imageProvider">
         </imageProvider>
      </diagramTypeProvider>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.imageProviders">
      <imageProvider
            class="org.eclipse.eatop.examples.graphicaleditor.depscd.provider.DEPSCDImageProvider"
            id="org.eclipse.eatop.examples.graphicaleditor.depscd.imageProvider">
      </imageProvider>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.eatop.examples.graphicaleditor.depscd.PropertyContributor">
         <propertyCategory
               category="Graphiti">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.eatop.examples.graphicaleditor.depscd.PropertyContributor">
         <propertyTab
               category="Graphiti"
               id="graphiti.advanced.tab"
               label="Advanced">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.eatop.examples.graphicaleditor.depscd.PropertyContributor">
         <propertySection
               class="org.eclipse.eatop.examples.graphicaleditor.depscd.features.property.DEPSCDPropertySection"
               filter="org.eclipse.eatop.examples.graphicaleditor.depscd.features.property.DEPSCDPropertyFilter"
               id="graphiti.advanced.tab.depscd"
               tab="graphiti.advanced.tab">
         </propertySection>
      </propertySections>
   </extension>

</plugin>
