<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
   <copyright>
  
  Copyright (c) 2014 itemis and others.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html
  
  Contributors: 
      itemis - Initial API and implementation
  
  </copyright>
-->

<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.eatop.examples.common.ui.category.eatopExampleViews"
            name="%eel.examples.common.ui.views.category.eatopExampleViews.name">
      </category>
   </extension>
   
   <!-- org.eclipse.ui.newWizards -->
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.eatop.examples.common.ui.eatopExampleWizards"
            name="%eel.examples.common.ui.newWizards.category.eatopExampleWizards.name">
      </category>
      <wizard
            category="org.eclipse.eatop.examples.common.ui.eatopExampleWizards"
            class="org.eclipse.eatop.workspace.ui.wizards.NewEastADLProjectWizard"
            finalPerspective="org.eclipse.eatop.examples.common.ui.perspectives.eatop"
            hasPages="true"
            icon="$nl$/icons/full/etool16/neweaprj_wiz.png"
            id="org.eclipse.eatop.examples.common.ui.newWizards.eastadlProject"
            name="%eel.examples.common.ui.newWizards.eastadlProject.name"
            preferredPerspectives="org.eclipse.eatop.examples.common.ui.perspectives.eatop"
            project="true">
      </wizard>
      <wizard
            category="org.eclipse.eatop.examples.common.ui.eatopExampleWizards"
            class="org.eclipse.eatop.workspace.ui.wizards.NewEastADLFileWizard"
            finalPerspective="org.eclipse.eatop.examples.common.ui.perspectives.eatop"
            icon="icons/full/etool16/neweafile_wiz.png"
            id="org.eclipse.eatop.examples.common.ui.newWizards.eastadlFile"
            name="%eel.examples.common.ui.newWizards.eastadlFile.name"
            preferredPerspectives="org.eclipse.eatop.examples.common.ui.perspectives.eatop"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.eatop.examples.common.ui.perspectives.EatopPerspectiveFactory"
            icon="icons/full/eview16/eatop_persp.png"
            id="org.eclipse.eatop.examples.common.ui.perspectives.eatop"
            name="%eel.examples.common.ui.perspectives.eatop.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.eatop.examples.common.ui.perspectives.eatop">
         <showInPart
               id="org.eclipse.eatop.examples.explorer.views.eastadlExplorer">
         </showInPart>
      </perspectiveExtension>
   </extension>

</plugin>
