<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="visualizer"
            class="org.eclipse.eatop.volvo.requirementmetricsviewer.views.SatisfiedRequirementsView"
            id="org.eclipse.eatop.volvo.metricsviewer.views.SatisfiedRequirementsView"
            name="Satisfied Requirements">
      </view>
   </extension>

</plugin>
