<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="EATOP MM Gen Tool Target Luna" sequenceNumber="0">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="4.4.0.I20140528-2000"/>
<unit id="org.eclipse.equinox.executable.feature.group" version="3.6.100.v20140521-1744"/>
<unit id="org.eclipse.rcp.configuration.feature.group" version="1.0.1.v20140528-1053"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.4milestones"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.mwe.sdk.feature.group" version="1.3.2.v201405200714"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.10.0.v20140519-0339"/>
<unit id="org.eclipse.emf.transaction.sdk.feature.group" version="1.8.0.201405281451"/>
<unit id="org.eclipse.emf.validation.sdk.feature.group" version="1.8.0.201405281429"/>
<unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="1.8.0.201405281433"/>
<unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.8.0.201406041640"/>
<unit id="org.eclipse.gmf.tooling.feature.group" version="3.2.0.201406041235"/>
<unit id="org.eclipse.uml2.sdk.feature.group" version="5.0.0.v20140602-0749"/>
<unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="3.6.0.v201405062148-7H7NFm0DxumWv9-7bhgNooiVMQ_TBruLpRz012TF"/>
<unit id="org.eclipse.xpand.sdk.feature.group" version="2.0.0.v201406030414"/>
<unit id="org.eclipse.xsd.sdk.feature.group" version="2.10.0.v20140519-0339"/>
<unit id="org.eclipse.xtext.xbase.lib.feature.group" version="2.6.0.v201405210727"/>
<repository location="http://download.eclipse.org/releases/staging"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.xtend.sdk.feature.group" version="2.6.0.v201405210727"/>
<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/composite/releases"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.nebula.feature.feature.group" version="1.0.0.201405151353"/>
<unit id="org.eclipse.nebula.examples.release.feature.feature.group" version="1.0.4.201405151353"/>
<repository location="http://download.eclipse.org/technology/nebula/snapshot"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sphinx.sdk.feature.group" version="0.8.0.201406040902"/>
<unit id="org.eclipse.sphinx.examples.feature.group" version="0.8.0.201406040902"/>
<unit id="org.eclipse.sphinx.thirdparty.feature.group" version="0.8.0.201406040902"/>
<repository location="http://download.eclipse.org/sphinx/updates/interim"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.google.guava" version="12.0.0.v201212092141"/>
<unit id="javax.xml" version="1.3.4.v201005080400"/>
<unit id="org.apache.commons.cli" version="1.2.0.v201105210650"/>
<unit id="org.apache.commons.lang" version="2.6.0.v201205030909"/>
<unit id="org.apache.xerces" version="2.9.0.v201101211617"/>
<unit id="org.apache.xml.resolver" version="1.2.0.v201005080400"/>
<unit id="org.apache.xml.serializer" version="2.7.1.v201005080400"/>
<unit id="org.easymock" version="2.4.0.v20090202-0900"/>
<unit id="org.jdom" version="1.1.1.v201101151400"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20140114142710/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.artop.eel.common" version="1.0.0.201302082307"/>
<unit id="org.artop.eel.serialization" version="1.0.0.201302082307"/>
<repository location="https://www.artop.org/containers/artop-eel-update-site-1.0"/>
</location>
</locations>
<environment>
<nl>en_EN</nl>
</environment>
<launcherArgs>
<vmArgs>-Xms128m -Xmx512m -XX:PermSize=256M -XX:MaxPermSize=512M</vmArgs>
</launcherArgs>
</target>
