<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            id="org.eclipse.eatop.examples.graphicaleditor.ed.diagramType"
            name="org.eclipse.eatop.examples.graphicaleditor.ed"
            type="org.eclipse.eatop.examples.graphicaleditor.ed">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="org.eclipse.eatop.examples.graphicaleditor.ed.provider.EDDiagramTypeProvider"
            description="ED Diagram"
            id="org.eclipse.eatop.examples.graphicaleditor.ed.diagramTypeProvider"
            name="org.eclipse.eatop.examples.graphicaleditor.ed">
         <diagramType
               id="org.eclipse.eatop.examples.graphicaleditor.ed.diagramType"
               name="org.eclipse.eatop.examples.graphicaleditor-ed.diagramType2"
               type="org.eclipse.eatop.examples.graphicaleditor-ed.diagramType2">
         </diagramType>
         <imageProvider
               class="imageprovider.ImageProvider1"
               id="org.eclipse.eatop.examples.graphicaleditor.ed.imageProvider">
         </imageProvider>
      </diagramTypeProvider>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.imageProviders">
      <imageProvider
            class="org.eclipse.eatop.examples.graphicaleditor.ed.provider.EDImageProvider"
            id="org.eclipse.eatop.examples.graphicaleditor.ed.imageProvider">
      </imageProvider>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.eatop.examples.graphicaleditor.ed.PropertyContributor">
         <propertyCategory
               category="Graphiti"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.eatop.examples.graphicaleditor.ed.PropertyContributor">
         <propertySection
               class="org.eclipse.eatop.examples.graphicaleditor.ed.property.EDPropertySection"
               filter="org.eclipse.eatop.examples.graphicaleditor.ed.property.EDPropertyFilter"
               id="graphiti.advanced.tab.ed"
               tab="graphiti.advanced.tab">
         </propertySection>
         <propertySection
               class="org.eclipse.eatop.examples.graphicaleditor.ed.property.ProtoTypesPropertySection"
               filter="org.eclipse.eatop.examples.graphicaleditor.ed.property.SModelProtoTypeFilter"
               id="graphiti.advanced.tab.sm2"
               tab="graphiti.advanced.tab">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.eatop.examples.graphicaleditor.ed.PropertyContributor">
         <propertyTab
               category="Graphiti"
               id="graphiti.advanced.tab"
               label="Advanced">
         </propertyTab>
      </propertyTabs>
   </extension>

</plugin>
