<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="org.eclipse.eatop.examples.graphicaleditor.atpd.providers.ATPDTypeDiagramProvider"
            id="org.eclipse.eatop.examples.graphicaleditor.atpd.TypeDiagramProvider"
            name="org.eclipse.eatop.examples.graphicaleditor.atpd">
         <diagramType
               id="org.eclipse.eatop.examples.graphicaleditor.atpd.DiagramType">
         </diagramType>
         <imageProvider
               id="org.eclipse.eatop.examples.graphicaleditor.atpd.imageProvider">
         </imageProvider>
      </diagramTypeProvider>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            description="This is a Graphiti Example"
            id="org.eclipse.eatop.examples.graphicaleditor.atpd.DiagramType"
            name="org.eclipse.eatop.examples.graphicaleditor.atpd"
            type="org.eclipse.eatop.examples.graphicaleditor.atpd">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.imageProviders">
      <imageProvider
            class="org.eclipse.eatop.examples.graphicaleditor.atpd.providers.ATPDImageProvider"
            id="org.eclipse.eatop.examples.graphicaleditor.atpd.imageProvider">
      </imageProvider>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.eatop.examples.graphicaleditor.atpd.PropertyContributor">
         <propertyTab
               category="Graphiti"
               id="graphiti.advanced.tab"
               label="Advanced">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.eatop.examples.graphicaleditor.atpd.PropertyContributor">
         <propertySection
               class="org.eclipse.eatop.examples.graphicaleditor.atpd.property.ATPDPropertySection"
               filter="org.eclipse.eatop.examples.graphicaleditor.atpd.property.ATPDPropertyFilter"
               id="graphiti.advanced.tab.atpd"
               tab="graphiti.advanced.tab">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.eatop.examples.graphicaleditor.atpd.PropertyContributor">
         <propertyCategory
               category="Graphiti"></propertyCategory>
      </propertyContributor>
   </extension>

</plugin>
