<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="org.eclipse.eatop.examples.graphicaleditor.depdld.provider.DEPDLDDiagramTypeProvider"
            description="DependabilityDesignLevel Diagram"
            id="org.eclipse.eatop.examples.graphicaleditor.depdld.diagramTypeProvider"
            name="org.eclipse.eatop.examples.graphicaleditor.depdld">
         <diagramType
               id="org.eclipse.eatop.examples.graphicaleditor.depdld.diagramType">
         </diagramType>
         <imageProvider
               id="org.eclipse.eatop.examples.graphicaleditor.depdld.imageProvider">
         </imageProvider>
      </diagramTypeProvider>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            id="org.eclipse.eatop.examples.graphicaleditor.depdld.diagramType"
            name="org.eclipse.eatop.examples.graphicaleditor.depdld"
            type="org.eclipse.eatop.examples.graphicaleditor.depdld">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.imageProviders">
      <imageProvider
            class="org.eclipse.eatop.examples.graphicaleditor.depdld.provider.DEPDLDImageProvider"
            id="org.eclipse.eatop.examples.graphicaleditor.depdld.imageProvider">
      </imageProvider>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.eatop.examples.graphicaleditor.depdld.PropertyContributor">
         <propertyCategory
               category="Graphiti"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.eatop.examples.graphicaleditor.depdld.PropertyContributor">
         <propertyTab
               category="Graphiti"
               id="graphiti.advanced.tab"
               label="Advanced">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.eatop.examples.graphicaleditor.depdld.PropertyContributor">
         <propertySection
               class="org.eclipse.eatop.examples.graphicaleditor.depdld.property.DEPDLDPropertySection"
               filter="org.eclipse.eatop.examples.graphicaleditor.depdld.property.DEPDLDPropertyFilter"
               id="graphiti.advanced.tab.depdld"
               tab="graphiti.advanced.tab">
         </propertySection>
      </propertySections>
   </extension>

</plugin>
