<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="org.eclipse.eatop.examples.graphicaleditor.SModel.providers.SMDTypeDiagramProvider"
            id="org.eclipse.eatop.examples.graphicaleditor.SModel.TypeDiagramProvider"
            name="org.eclipse.eatop.examples.graphicaleditor.SModel">
         <diagramType
               id="org.eclipse.eatop.examples.graphicaleditor.SModel.DiagramType">
         </diagramType>
         <imageProvider
               id="org.eclipse.eatop.examples.graphicaleditor.SModel.imageProvider">
         </imageProvider>
      </diagramTypeProvider>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            description="This is a Graphiti Example"
            id="org.eclipse.eatop.examples.graphicaleditor.SModel.DiagramType"
            name="org.eclipse.eatop.examples.graphicaleditor.SModel"
            type="org.eclipse.eatop.examples.graphicaleditor.SModel">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.imageProviders">
      <imageProvider
            class="org.eclipse.eatop.examples.graphicaleditor.SModel.providers.SMDImageProvider"
            id="org.eclipse.eatop.examples.graphicaleditor.SModel.imageProvider">
      </imageProvider>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.eatop.examples.graphicaleditor.SModel.PropertyContributor">
         <propertyCategory
               category="Graphiti">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.eatop.examples.graphicaleditor.SModel.PropertyContributor">
         <propertyTab
               category="Graphiti"
               id="graphiti.advanced.tab"
               label="Advanced">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.eatop.examples.graphicaleditor.SModel.PropertyContributor">
         <propertySection
               class="org.eclipse.eatop.examples.graphicaleditor.SModel.property.SystemModelPropertySection"
               filter="org.eclipse.eatop.examples.graphicaleditor.SModel.property.SystemModelPropertyFilter"
               id="graphiti.advanced.tab.sm"
               tab="graphiti.advanced.tab">
         </propertySection>
         <propertySection
               class="org.eclipse.eatop.examples.graphicaleditor.SModel.property.ProtoTypesPropertySection"
               filter="org.eclipse.eatop.examples.graphicaleditor.SModel.property.SModelProtoTypeFilter"
               id="graphiti.advanced.tab.sm2"
               tab="graphiti.advanced.tab">
         </propertySection>
      </propertySections>
   </extension>

</plugin>
