<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">

      <!-- Use objectClass = org.eclipse.emf.ecore.EObject, to display menu on all elements -->
      <objectContribution
            objectClass="org.eclipse.eatop.eastadl21.VVProcedure" 
            id="org.eclipse.eatop.volvo.fmusim.FMUSimVVProcedureContribution">
         <action
               label="FMU simulation..."
               class="org.eclipse.eatop.volvo.fmusim.popup.actions.FmuSimulationAction"
               menubarPath="org.eclipse.eatop.volvo.fmusim.vvproceduremenu/group"
               enablesFor="1"
               id="org.eclipse.eatop.volvo.fmusim.fmusimaction">
      
         
         </action>
         <menu
               icon="icons/full/equations.png"
               id="org.eclipse.eatop.volvo.fmusim.vvproceduremenu"
               label="FMUSim"
               path="additions">
            <groupMarker
                  name="group">
            </groupMarker>
         </menu>
      </objectContribution>
      <objectContribution
            id="org.eclipse.eatop.volvo.fmusim.HighlightVVLogContribution"
            objectClass="org.eclipse.eatop.eastadl21.VVLog">
         <action
               class="org.eclipse.eatop.volvo.fmusim.popup.actions.HighlightAction"
               id="org.eclipse.eatop.volvo.fmusim.unhighlightvvlogaction"
               label="Unhighlight"
               enablesFor="1"
               menubarPath="org.eclipse.eatop.volvo.fmusim.vvlogmenu/group">
         </action>
         <action
               class="org.eclipse.eatop.volvo.fmusim.popup.actions.HighlightAction"
               id="org.eclipse.eatop.volvo.fmusim.highlightvvlogaction"
               label="Highlight"
               menubarPath="org.eclipse.eatop.volvo.fmusim.vvlogmenu/group"
               enablesFor="1">
         </action>
         <menu
               icon="icons/full/equations.png"
               id="org.eclipse.eatop.volvo.fmusim.vvlogmenu"
               label="FMUSim"
               path="additions">
            <groupMarker
                  name="group">
            </groupMarker>
         </menu>

      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.eclipse.eatop.volvo.fmusim.HighlightVVProcedureContribution"
            objectClass="org.eclipse.eatop.eastadl21.VVProcedure">
         <action
               class="org.eclipse.eatop.volvo.fmusim.popup.actions.HighlightAction"
               enablesFor="1"
               id="org.eclipse.eatop.volvo.fmusim.unhighlightvvprocedureaction"
               label="Unhighlight"
               menubarPath="org.eclipse.eatop.volvo.fmusim.vvproceduremenu/group">
         </action>
         <action
               class="org.eclipse.eatop.volvo.fmusim.popup.actions.HighlightAction"
               enablesFor="1"
               id="org.eclipse.eatop.volvo.fmusim.highlightvvprocedureaction"
               label="Highlight"
               menubarPath="org.eclipse.eatop.volvo.fmusim.vvproceduremenu/group">
         </action>
      </objectContribution>

      <objectContribution
            adaptable="false"
            id="org.eclipse.eatop.volvo.fmusim.HighlightVVCaseContribution"
            objectClass="org.eclipse.eatop.eastadl21.VVCase">
         <action
               class="org.eclipse.eatop.volvo.fmusim.popup.actions.HighlightAction"
               enablesFor="1"
               id="org.eclipse.eatop.volvo.fmusim.unhighlightvvcaseaction"
               label="Unhighlight"
               menubarPath="org.eclipse.eatop.volvo.fmusim.vvcasemenu/group">
         </action>
         <action
               class="org.eclipse.eatop.volvo.fmusim.popup.actions.HighlightAction"
               enablesFor="1"
               id="org.eclipse.eatop.volvo.fmusim.highlightvvcaseaction"
               label="Highlight"
               menubarPath="org.eclipse.eatop.volvo.fmusim.vvcasemenu/group">
         </action>
         <menu
               icon="icons/full/equations.png"
               id="org.eclipse.eatop.volvo.fmusim.vvcasemenu"
               label="FMUSim"
               path="additions">
            <groupMarker
                  name="group">
            </groupMarker>
         </menu>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.eclipse.eatop.volvo.fmusim.ViewFMUSimResultsForRequirementContribution"
            objectClass="org.eclipse.eatop.eastadl21.Requirement">
         <action
               class="org.eclipse.eatop.volvo.fmusim.popup.actions.ViewFMUSimulationResultAction"
               id="org.eclipse.eatop.volvo.fmusim.viewfmusimulationresultforrequirementaction"
               label="View FMU simulation results"
               menubarPath="org.eclipse.eatop.volvo.fmusim.requirementmenu/group">
         </action>
         <menu
               icon="icons/full/equations.png"
               id="org.eclipse.eatop.volvo.fmusim.requirementmenu"
               label="FMUSim"
               path="additions">
            <groupMarker
                  name="group">
            </groupMarker>
         </menu>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.eclipse.eatop.volvo.fmusim.ViewFMUSimLogOfflineContribution"
            objectClass="org.eclipse.eatop.eastadl21.VVLog">
         <action
               class="org.eclipse.eatop.volvo.fmusim.popup.actions.ViewFMUsimLogOfflineAction"
               id="org.eclipse.eatop.volvo.fmusim.viewfmusimlogofflineaction"
               label="View Log"
                enablesFor="1"
               menubarPath="org.eclipse.eatop.volvo.fmusim.vvlogmenu/group">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.eclipse.eatop.volvo.fmusim.HighlightVerificationValidationContribution"
            objectClass="org.eclipse.eatop.eastadl21.VerificationValidation">
         <action
               class="org.eclipse.eatop.volvo.fmusim.popup.actions.HighlightAction"
               enablesFor="1"
               id="org.eclipse.eatop.volvo.fmusim.unhighlightverificationvalidationaction"
               label="Unhighlight"
               menubarPath="org.eclipse.eatop.volvo.fmusim.verificationvalidationmenu/group">
         </action>
         <action
               class="org.eclipse.eatop.volvo.fmusim.popup.actions.HighlightAction"
               enablesFor="1"
               id="org.eclipse.eatop.volvo.fmusim.highlightverificationvalidationaction"
               label="Highlight"
               menubarPath="org.eclipse.eatop.volvo.fmusim.verificationvalidationmenu/group">
         </action>
         <menu
               icon="icons/full/equations.png"
               id="org.eclipse.eatop.volvo.fmusim.verificationvalidationmenu"
               label="FMUSim"
               path="additions">
            <groupMarker
                  name="group">
            </groupMarker>
         </menu>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.eclipse.eatop.volvo.fmusim.ViewFMUSimResultsForFunctionFlowPortContribution"
            objectClass="org.eclipse.eatop.eastadl21.FunctionFlowPort">
         <action
               class="org.eclipse.eatop.volvo.fmusim.popup.actions.ViewFMUSimulationResultAction"
               id="org.eclipse.eatop.volvo.fmusim.viewfmusimulationresultforfunctionflowportaction"
               label="View FMU simulation results"
               menubarPath="org.eclipse.eatop.volvo.fmusim.functionflowportmenu/group">
         </action>
         <menu
               icon="icons/full/equations.png"
               id="org.eclipse.eatop.volvo.fmusim.functionflowportmenu"
               label="FMUSim"
               path="additions">
            <groupMarker
                  name="group">
            </groupMarker>
         </menu>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.eclipse.eatop.volvo.fmusim.ViewFMUSimResultsForDesignFunctionPrototypeContribution"
            objectClass="org.eclipse.eatop.eastadl21.DesignFunctionPrototype">
         <action
               class="org.eclipse.eatop.volvo.fmusim.popup.actions.ViewFMUSimulationResultAction"
               id="org.eclipse.eatop.volvo.fmusim.viewfmusimulationresultfordesignfunctionprototypeaction"
               label="View FMU simulation results"
               menubarPath="org.eclipse.eatop.volvo.fmusim.designfunctionprototypemenu/group">
         </action>
         <menu
               icon="icons/full/equations.png"
               id="org.eclipse.eatop.volvo.fmusim.designfunctionprototypemenu"
               label="FMUSim"
               path="additions">
            <groupMarker
                  name="group">
            </groupMarker>
         </menu>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.eclipse.eatop.volvo.fmusim.ViewFMUSimResultsForDesignFunctionTypeContribution"
            objectClass="org.eclipse.eatop.eastadl21.DesignFunctionType">
         <action
               class="org.eclipse.eatop.volvo.fmusim.popup.actions.ViewFMUSimulationResultAction"
               id="org.eclipse.eatop.volvo.fmusim.viewfmusimulationresultfordesignfunctiontypeaction"
               label="View FMU simulation results"
               menubarPath="org.eclipse.eatop.volvo.fmusim.designfunctiontypemenu/group">
         </action>
         <menu
               icon="icons/full/equations.png"
               id="org.eclipse.eatop.volvo.fmusim.designfunctiontypemenu"
               label="FMUSim"
               path="additions">
            <groupMarker
                  name="group">
            </groupMarker>
         </menu>
      </objectContribution>

   </extension>

  <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="false"
            class="org.eclipse.eatop.volvo.fmusim.decorators.FMUSimStatusDecorator"
            id="org.eclipse.eatop.volvo.fmusim.FMUSimStatusDecorator"
            label="label"
            lightweight="true"
            location="BOTTOM_LEFT"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipse.emf.ecore.EObject">
            </objectClass>
         </enablement>
      </decorator>
   </extension>




</plugin>

